{% extends "base.html" %}



{% block actualizarGenero %}

    <div class="container">
       
        <h1>{{ mensaje }}</h1>
        <form enctype="multipart/form-data" method="post" action="/actualizarGenero/">
            {% csrf_token %}
            <h3 class=" text-center text-lg">Actualizar Genero</h3>
            <div class="mb-4">
                <label class="block  text-gray-700 text-sm font-bold mb-2" for="txtNombre">
                Nombre
                </label>
                <input name="txtNombre" value="{{genero.nombre}}" readonly  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="codigo" type="number" placeholder="Ingresa el nombre "> 
               
            </div>
            

            <button  class="bg-blue-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="">
                Actualizar
             </button>
             
            
             <input type="hidden" name="idGenero" value="{{genero.id}}">
        </form>
    </div>
    <br>
    <br>
    <a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'agregarGenero' %}">Agregar un nuevo Genero</a>
    <a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'listarPeliculas' %}">Ir a la lista de Peliculas</a>
    
    {% endblock %}    
