{% extends "base.html" %}

{% block inicioDeSesion %}

    <h2>INICIO DE SESION</h2>
    <form action="">
        {% csrf_token %}
        <input name="txtCodigo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="codigo" type="number" placeholder="Ingrese su Usuario " required>
        <input name="txtCodigo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="codigo" type="number" placeholder="Ingrese su Contraseña " required>
        <br>
        <br>
        <button  class="bg-blue-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Ingresar
         </button>
    </form>
    <br>
    <br>
    <a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'agregarGenero' %}">Agregar un nuevo Genero</a>
    <a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'agregarPelicula' %}">Agregar una nueva Pelicula</a>
    <a class="bg-green-500 mx-auto hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline " href="{% url 'listarGeneros' %}">Ir a la lista de Generos</a>   
    
{%  endblock %}
